executor {
    queueSize = 30
}

process {
    scratch = true

    withName: 'GATK4_HAPLOTYPECALLER' {
        cpus = { 4 * task.attempt }
        memory = { 12.GB * task.attempt }
        time = { 8.h * task.attempt }
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        ext.args = '--include-non-variant-sites'
        cpus   = { 1                   }
        memory = { 12.GB * task.attempt }
        time   = { 8.h  * task.attempt }

    }
}
